{% extends "admin_layout.html" %}
{% block extra_header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
<style>
#sortable1, #sortable2, #sortable3 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; min-width:200px;}
#sortable1 li, #sortable2 li, #sortable3 li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; }	#sortable1{min-height: 100px;}
	
</style>
{{ super() }}
{% endblock %}
{% block main_content %}
  {{ super() }}
  <div class="row">
    <div class="span12">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="row">
          <ul id="flashes" type="none">
          {% for category, message in messages %}
            {% if category == 'success' %}
              <li><div class="alert alert-success fade in"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div></li>
            {% elif category == 'error' %}
              <li><div class="alert alert-error fade in"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div></li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endwith %}
      
      <div class="row">
        <div class="span12">
          <h2>Gallery Images<span  class="photo-count"><span id="gallery-photo-count">{{ gallery.photos|length }}</span> Photos</span></h2>
		
				<div class="row">
					<ul id="sortable1" class="connectedSortable droptrue">
						{% for photo in gallery.photos %}
					  <li class="span2" data-id="{{ photo.id }}">
            	<div class="thumbnail">
              	<img class="pop-info" src="{{ photo.get_thumb }}?t={{timestamp}}"/>
                <div class="caption" style="padding:7px;">
                	<a href="{{ url_for('manage_gallery_delete', gallery_id=gallery.id, photo_id=photo.id, action='delete') }}" class="btn btn-mini btn-danger delete-img"><span class="icon-remove"> </span></a>
                  <a href="{{ url_for('edit_photo', photo_id=photo.id)}}?target={{target_encoded}}" class="btn btn-mini btn-warning"> <span class="icon-edit"> </span></a>                    
                  <button class="btn btn-mini pop-info" data-container="body" data-toggle="popover" data-placement="top"><i class="icon-info-sign"></i></button>
                	<span class="popup-text hide" >
                  	<div>
	                  	<div><b>Name : </b>
	                  		{% if photo.name %}
		                  		{{ photo.name }}
		                  	{% else %}
		                  		{{ photo._filename }}
		                  	{% endif %}
		                </div>
                  	</div>
                  </span>
                </div>
              </div>	  
					  </li>
					  {% endfor %}
					</ul>
				</div>  
         
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      <br>
      <a href="{{ target }}" class="btn btn-inverse"> <span class="icon-chevron-left"> </span>    Back </a>
      <a id="change_order" disabled="disabled" href="javascript:void(0);" class="btn change_order_btn"> Update Gallery </a>
      <span id="odr-cng-succ" class="text-success"></span>
    </div>  
  </div>
  
  <div class="row">
    <div class="span12">
        <h2>Photo Images<span class="photo-count"><span id="photos-photo-count">{{ photos|length }} </span> Photos</span><input type="text" class="input pull-right" id="searchphotos" placeholder="Search" /></h2>

				<div class="row">
					<ul id="sortable2" class="connectedSortable">
					  {% for photo in photos %}
					  <li class="span2" data-id="{{ photo.id }}">
              <div class="thumbnail">
                  <img src="{{ photo.get_thumb }}?t={{timestamp}}" />
                  <div class="caption" style="padding:7px;">
                    <a href="{{ url_for('photo_manager_delete', photo_id=photo.id, action='delete') }}" class="btn btn-mini btn-danger delete-img deleteBtn"><span class="icon-remove"> </span></a>
                    <a href="{{ url_for('edit_photo', photo_id=photo.id)}}?target={{target_encoded}}" class="btn btn-mini btn-warning"> <span class="icon-edit"> </span></a>       
                  	<button class="btn btn-mini pop-info" data-container="body" data-toggle="popover" data-placement="top"><i class="icon-info-sign"></i></button>
                  	<span class="popup-text hide" >
	                  	<div>
	                  		<div><b>Name : </b>
	                  		{% if photo.name %}
		                  		{{ photo.name }}
		                  	{% else %}
		                  		{{ photo._filename }}
		                  	{% endif %}
		                  	</div>
                  		</div>
	                  </span>
                  </div>
              </div>
					  </li>
					  {% endfor %}
					</ul>
				</div>

      </div>

  </div>


{% endblock %}

{% block per_page_js %}
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
$(function() {
	
  qs = $("#searchphotos").quicksearch('ul#sortable2 li');	
  $("#sortable2").sortable({
    connectWith: ".connectedSortable",
    out:function(event, ui){
      update_photo_count();
    }
  }).disableSelection();
  
  $("#sortable1").sortable({
    connectWith: ".connectedSortable",
     change: function( event, ui ) {
     $('#change_order').attr( "disabled", false ).addClass("btn-success");
    },
	stop: function( event, ui ) {
     //when element is added to list then reset/update quick search cache.     
     qs.reset();
     qs.cache();
    },
    out: function( event, ui ) {
    //when element is removed from list then reset/update quick search cache.
     qs.reset();
     qs.cache();
	 update_photo_count();
	}
    
  }).disableSelection();


	$('.pop-info').popover({
		trigger:"hover", 
		content:function(){
			var curr_elem = $(this);
			return curr_elem.siblings(".popup-text").children().text();
		}
	});

	//updates the order of images in the system, when update gallery button is clicked.
  $('#change_order').on('click', function(event){
    var photos = []; 
    photos = $('#sortable1 li').get();
    var photo_order = [];
    for(var i=0; i < photos.length; i++){
       photo_order[i] = photos[i].attributes['data-id'];
    }
    //to change the order of photos
    var url = '{{ url_for("change_photo_order", gallery_id=gallery.id) }}';
    $.post(url, photo_order, function(data){
      if(data == 'OK'){
        $('#odr-cng-succ').text('Photo Order changed succesfully.');
		
      }
    });
   $('#change_order').attr( "disabled", true ).removeClass("btn-success");

   return false;
  });
  
	/* delete photo from gallery */
	$('.deleteBtn').click(function() {
	    if(window.confirm(this.title || 'Are you sure you want to delete this?')){
	    	return true;
	    } else {
	    	return false;
	    }
	});

	function update_photo_count (argument) {
		var photos_photo_count = $("#sortable2").find('li');
		var gallery_photo_count = $("#sortable1").find('li');
		 $("#photos-photo-count").text(photos_photo_count.length);
		 $("#gallery-photo-count").text(gallery_photo_count.length);
		
	}

});

</script>
{% endblock %}