{% extends "admin_layout.html" %}
{% block extra_header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.multiselect.css') }}">
<style type="text/css">
.gallery-button-position{
  float: right;
}
</style>
{{ super() }}
{% endblock %}

{% block main_content %}
	{{ super() }}
	<div class="row">
		<div class="span12">
			{% from "_formhelpers.html" import render_field %}
        <form method="post" enctype="multipart/form-data" action="/admin/residentials/{{ action }}/{% if residential.id %}{{ residential.id }}/{% endif %}">
          {{ form.hidden_tag() }}
        <h2>{{ action.capitalize() }} Residential Listing</h2>
          {% if action == 'edit' %}
            <a href="{{ url_for('listing_gallery', listing_id=residential.id) }}" class="gallery-button-position btn">Go to Gallery</a>
          {% endif %}
          {{ render_field(form.building) }}
          {{ render_field(form.floor) }}
          {% if original %}
            {{ render_field(form.apt_num, placeholder=original.apt_num)}}
          {% else %}
            {{ render_field(form.apt_num)}}
          {% endif %}
          {{ render_field(form.bed) }}
          {{ render_field(form.bath) }}
          {{ render_field(form.sqft) }}
          {{ render_field(form.description, rows=10) }}
          {{ render_field(form.price) }}
          {{ render_field(form.owner_pays) }}
          {{ render_field(form.floorplan) }}
          {{ render_field(form.remove_floorplan) }}
          {{ render_field(form.floorplan_pdf) }}
          {{ render_field(form.remove_floorplan_pdf) }}
          {{ render_field(form.url) }}
          {{ render_field(form.specs) }}
          {{ render_field(form.views) }}
          {{ render_field(form.avail)}}
          {{ render_field(form.availability) }}
        <p><input type="submit" value="Save" class="btn" />
        </form>
		</div>
	</div>
  <div class="row">
    <div class="12"><h4>Listing Gallery</h4></div>
  </div>
  {% if residential.photo_gallery %}
    {% for photo in residential.photo_gallery.photos %}
      {% if loop.index is divisibleby(6) or loop.first %}
        <div class="row">
      {% endif %}
        <div class="span2">
          <a target="_blank" href="{{ photo.url }}">
            <img src="{{ photo.url }}" title="{{ photo.title }}"/>
          </a>
        </div>
      {% if loop.last or loop.index is divisibleby(6) %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <div style="margin:25px;">&nbsp;</div>
	
{% endblock %}
{% block per_page_js %}
<script src="{{ url_for('static',filename='js/jquery.ui.widget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.multiselect.min.js') }}"></script>
<script type="text/javascript">
$(function(){
  $("#specs").multiselect();
  $("#views").multiselect();
 
	var today = new Date();
	var d = $( "#availability" ).val();
	var selectedDate = new Date(d);
	
    $( "#availability" ).datepicker();
	if(selectedDate < today)
		$( "#availability" ).datepicker('setDate', today);
	else
		$( "#availability" ).datepicker('setDate', selectedDate);

  
  	
  
  
});
</script>
{% endblock %}