{% extends "admin_layout.html" %}
{% block main_content %}
  {{ super() }}
	<div class="row">
		<div class="span12">
			<h1>{% if request.endpoint == 'managers.manageruserspending' %}Pending{% endif %} Users</h1>
			<a href="/admin/users/new/" class="btn">New</a>
			<input type="text" class="pull-right input" id="id_search" placeholder="Search" />
			</a>
			<table class="table table-striped table-bordered tablesorter">
				<thead>
				<tr>
					<th>Name</th>
					<th colspan="2"><div class="pull-right pull-right-padding">Actions</div></th>
				</tr>
				</thead>
				<tbody>
                {% for user in users %}

					<tr>
						<td>{{ user.name }}</td>

						<td colspan="2">
							<div class="pull-right">
                              {% if not user.is_super_user or g.user.is_super_user %}
								  <a href="{{'/admin/users/edit/%s' % user.id}}" class="btn">Edit</a>
								  <a href="{{'/admin/users/delete/%s' % user.id}}" class="btn delete">Delete</a>
                              {% endif %}
							</div>
						</td>
					</tr>

                {% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
{% block per_page_js %}
	<script type="text/javascript">
		$(function(){
			var $this = ''
			$(".approve-user").click(function(){
				$this = $(this);
				$.getJSON('/admin/users/approve/' + $(this).attr('data-approve') + '/',
						function(data){
							if(data.result == 'success'){
								$this.closest('tr').hide('fast');
								if(data.pending < 1){
									window.location = "/admin/users/";
								}
							}
						});
			});
		});

		$('.delete').click(function() {
			if(window.confirm(this.title || 'Are you sure you want to delete this user?')){
				return true
			} else {
				return false
			}
		});

	</script>
{% endblock %}