{% extends "admin_layout.html" %}
{% block extra_header %}
{{ super() }}
{% endblock %}
{% block main_content %}
	{{ super() }}
	<div class="row">
		<div class="span12">
			{% from "_formhelpers.html" import render_field %}
        <form method="post" action="/admin/views/{{ action }}/{% if view.id %}{{ view.id }}/{% endif %}">
          {{ form.hidden_tag() }}
        <h2>{{ action.capitalize() }} View</h2>
          {{ render_field(form.name) }}
        <p><input type="submit" value="Save" class="btn" /></p>
        </form>
		</div>
	</div>
{% endblock %}