{% extends "admin_layout.html" %}
{% block extra_header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.multiselect.css') }}">
<style type="text/css">
.gallery-button-position{
  float: right;
}
</style>
{{ super() }}
{% endblock %}
{% block main_content %}
	{{ super() }}
	<div class="row">
		<div class="span12">
			{% from "_formhelpers.html" import render_field %}
        <form method="post" enctype="multipart/form-data" action="/admin/neighborhoods/{{ action }}/{% if neighborhood.id %}{{ neighborhood.id }}/{% endif %}">
          {{ form.hidden_tag() }}
        <h2>{{ action.capitalize() }} Neighborhood</h2>
          {{ render_field(form.name) }}
          {{ render_field(form.desc,class_='ckeditor') }}
          {{ render_field(form.borough) }}
        <p><input type="submit" value="Save" class="btn" />
		</div>
	</div>
{% endblock %}

{% block per_page_js %}
<script src="{{ url_for('static',filename='js/ck/ckeditor.js') }}"></script>
<script src="{{ url_for('static',filename='js/ck/ck_custom_config.js') }}"></script>
<script type="text/javascript">

CKEDITOR.replace( 'desc', {
  toolbar: [

    { name: 'basicstyles', items: [ 'Bold', 'Italic' ] },
    {items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent' ] },
    { name: 'insert', items: [ 'Image' ] },
    { name: 'links', items: [ 'Link', 'Unlink' ] },
    { name: 'document', items: [  'Source'  ] }, // Defines toolbar group with name (used to create voice label) and items in 3 subgroups.
    { name: 'about', items: [ 'About' ] },

  ]
});

</script>
{% endblock %}