{% extends "admin_layout.html" %}
{% block main_content %}
  {{ super() }}
    <div class="row">
        <div class="span12">
          {% from "_formhelpers.html" import render_field %}
            <form method="post" action="/admin/users/{{ action }}/{% if user.id %}{{ user.id }}/{% endif %}">
              {{ form.hidden_tag() }}
                <h2>{{ action.capitalize() }} User</h2>
              {{ render_field(form.login) }}
              {{ render_field(form.email) }}
              {% if action == 'new' or g.user.id == user.id %}
                {{ render_field(form.password,placeholder=placeholder) }}
                {{ render_field(form.confirm_password) }}
              {% endif %}
              {{ render_field(form.company) }}
              {{ render_field(form.tele) }}
              {{ render_field(form.name) }}
              {{ render_field(form.is_admin) }}
              {% if g.user.is_super_user %}
                {{ render_field(form.is_super_user) }}
              {% endif %}
                <p><input type="submit" value="Save" class="btn" />
            </form>
        </div>
    </div>
{% endblock %}