
{% extends "admin_layout.html" %}
{% block main_content %}
	{{ super() }}
	<div class="row">
		<div class="span12">
			<h1>Recent Activity</h1>
			<table class="table">
                <head>
                    <tr>
                        <th>Action</th>
                        <th>User</th>
                        <th>Date</th>
                    </tr>
                </head>
				{% for activity in activities %}
				<tr>
					<td><strong>{{ activity.content }}</strong></td>
					<td><strong>{{ activity.user }}</strong> </td>
                    <td>{{ activity.created_at.strftime('%m/%d/%Y %I:%M:%S') }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<h1>Export Feeds</h1>
            <ul>
                <li><a target="_blank" href="{{ url_for('home.apartments_feed') }}">Apartments.com</a></li>
                <li><a target="_blank" href="{{ url_for('home.olr_feed') }}">OLR</a></li>
                <li><a target="_blank" href="{{ url_for('home.rentals_feed') }}">Rent.com</a></li>
                <li><a target="_blank" href="{{ url_for('home.silver_creative_feed') }}">Silver Creative</a></li>
                <li><a target="_blank" href="{{ url_for('home.street_easy_feed') }}">Street Easy</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
