{% extends "admin_layout.html" %}
{% block main_content %}
	{{ super() }}
	
	<div class="row">
		<div class="span12">
			<h1>Residential Listings</h1>
			<a href="/admin/residentials/new/" class="btn">New</a>
			<input type="text" class="pull-right input" id="id_search" placeholder="Search" />
			<table id="listings-table" class="table table-striped table-bordered tablesorter">
				<thead>
					<tr>
						<th>Address</th>
						<th class="pull-right-padding">Unit</th>
						<th>Neighborhood</th>
						<th class="pull-right-padding" style="width:79px;">Availability Date</th>
						<th class="pull-right-padding" style="width:36px">Pics</th>
						<th style="width:62px;">Price</th>
						<th colspan="2"><div class="pull-right pull-right-padding">Actions</div></th>
					</tr>
				</thead>
				<tbody>
					{% for listing_group in listings_collection %}
						<tr>
							<td>{{ listing_group.building.address }}</td>
							<td>{{ listing_group.listing.apt_num}}</td>
							<td>{{ listing_group.building.neighborhood.name }} in {{ listing_group.building.borough.name }}</td>
							<td>
                            {% if listing_group.listing.availability %}
                                {{ listing_group.listing.availability.strftime('%m-%d-%y') }}
                            {% endif %}
                            </td>
							
							{% if listing_group.listing.get_imgs_src() %}
								<td>{{ listing_group.listing.get_imgs_src() | count }}</td>
							{% else %}
								<td> 0 </td>
							{% endif %}
							<td>${{ listing_group.listing.price_locale_format }}</td>
							
							<td colspan="2">
								<div class="pull-right">
								<a class="btn btn-block available {% if listing_group.listing.avail %}btn-success{% endif %}" data-avail="{{ listing_group.listing.id }}" href="#">
									{% if not listing_group.listing.avail %}Not{% endif %} Available</a>
								<a class="btn" href="/admin/residentials/edit/{{ listing_group.listing.id }}/">Edit</a>
								<a class="btn" href="/admin/residentials/clone/{{ listing_group.listing.id }}/">Clone</a>
								<a class="btn delete" href="/admin/residentials/delete/{{ listing_group.listing.id }}/">Delete</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			
		</div>
	</div>
{% endblock %}

{% block per_page_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>

<script type="text/javascript">
$(function(){
	

	$('.delete').click(function() {
	    if(window.confirm(this.title || 'Are you sure you want to delete this?')){
	    	return true
	    } else {
	    	return false
	    }
	});

$(".delete-pic").click(function(e){
	e.preventDefault();
	$(this).closest('div.thumbnail').remove();
	$.ajax({
        type: 'POST'
      , url: '/admin/delete_residential_pic/' + $(this).attr('data-id') + '/' + $(this).attr('data-pic') + '/'
  	}).success(function(){
  		console.log('success')
  	});
});

$(".available").click(function(){
	$this = $(this);
	$dataAvail = $this.attr('data-avail');
	available = Number(!$this.hasClass('btn-success'));
	$this.addClass('disabled');
	$.getJSON('/admin/residentials/available/' + $dataAvail + '/' + available + '/',
	function(data){
		if(data.result == 'success'){
			$this.removeClass('disabled');
			if(available){
				$this.addClass('btn-success');
				$this.text('Available');
			}else{
				$this.removeClass('btn-success');
				$this.text('Not Available');
			}
		}
	});
})

$("#id_search").quicksearch('table tbody tr')
$("#id_searchft").quicksearch('table tbody tr')


});
</script>
{% endblock %}