{% extends "admin_layout.html" %}
{% block extra_header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.multiselect.css') }}">
{{ super() }}
{% endblock %}
{% block main_content %}
	{{ super() }}
	<div class="row">
		<div class="span12">
			{% from "_formhelpers.html" import render_field %}
        <form method="post" enctype="multipart/form-data" action="/admin/buildings/{{ action }}/{% if building.id %}{{ building.id }}/{% endif %}">
          {{ form.hidden_tag() }}
        <h2>{{ action.capitalize() }} Building</h2>
        {% if action == 'edit' %}
          <a href="{{ url_for('building_gallery', building_id=building.id) }}" class="pull-right btn">Go to Gallery</a>
        {% endif %}
          {{ render_field(form.name) }}
          {{ render_field(form.entity) }}
          {{ render_field(form.rentals_id) }}
          {{ render_field(form.building_type) }}
          {{ render_field(form.address) }}
          {{ render_field(form.city) }}
          {{ render_field(form.state,maxlength='2') }}
          {{ render_field(form.zip_code,max='99999',type='number') }}
          {{ render_field(form.neighborhood) }}
            <dl class="dl-horizontal">
                <dt><label for="neighborhood">Borough</label></dt>
                <dd>
                  {% for neighborhood in neighborhoods %}
                      <span class="borough-name" style="display: none;" data-neighborhood-id="{{ neighborhood.id }}">{{ neighborhood.borough.name }}</span>
                  {% endfor %}
                </dd>
            </dl>
          {{ render_field(form.year) }}
          {{ render_field(form.floors, type='number') }}
          {{ render_field(form.units, type='number') }}
          {{ render_field(form.agent_name) }}
          {{ render_field(form.agent_phone) }}
          {{ render_field(form.agent_email) }}
          {{ render_field(form.lat) }}
          {{ render_field(form.lng) }}
          {{ render_field(form.link)}}
          {{ render_field(form.extras) }}
          {{ render_field(form.unit_features) }}
          {{ render_field(form.description,class_='ckeditor') }}
        <p><input type="submit" value="Save" class="btn" /></p>
        </form>
		</div>
	</div>
  <div class="row">
    <div class="12"><h4>Building Gallery</h4></div>
  </div>
  {% if building.gallery %}
    {% for photo in building.gallery.photos %}
      {% if loop.index is divisibleby(6) or loop.first %}
        <div class="row">
      {% endif %}
        <div class="span2">
          <a target="_blank" href="{{ photo.url }}">
            <img src="{{ photo.url }}" title="{{ photo.title }}"/>
          </a>
        </div>
      {% if loop.last or loop.index is divisibleby(6) %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  <div style="margin:25px;">&nbsp;</div>
 {% endblock %}

{% block per_page_js %}
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ url_for('static',filename='js/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('static',filename='js/ck/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.multiselect.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/select2/select2.js')}}"></script>
<link href="{{ url_for('static',filename='js/select2/select2.css') }}" rel="stylesheet"/>
<script type="text/javascript">
$(function(){



  $("#extras").multiselect();
  $("#unit_features").multiselect();
  $(".delete-pic").click(function(e){
    e.preventDefault();
    $(this).closest('div.thumbnail').remove();
    $.ajax({
          type: 'POST'
        , url: '/admin/delete_building_pic/' + $(this).attr('data-id') + '/' + $(this).attr('data-pic') + '/'
        }).success(function(data){
          $(".pic-status").text("You have " + $(".thumbnail").length + " pics");
        });
  });
    $('#neighborhood').on('change', function() {
        $('.borough-name').hide();
        $('.borough-name[data-neighborhood-id="'+$('#neighborhood').val()+'"]').show();
    });
    $('#neighborhood').trigger('change');
});

</script>
{% endblock %}