{% extends "admin_layout.html" %}
{% block extra_header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.multiselect.css') }}">
{{ super() }}
{% endblock %}
{% block main_content %}
	{{ super() }}
	<div class="row">
		<div class="span12">
			{% from "_formhelpers.html" import render_field %}
        <form method="post" action="/admin/boroughs/{{ action }}/{% if borough.id %}{{ borough.id }}/{% endif %}">
          {{ form.hidden_tag() }}
        <h2>{{ action.capitalize() }} Location</h2>
          {{ render_field(form.name) }}
        <p><input type="submit" value="Save" class="btn" />
		</div>
	</div>
{% endblock %}