<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aspect Ratio with Preview Pane | Jcrop Demo</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

<script src="{{ url_for('static',filename='js/jquery-1.10.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.Jcrop.min.js') }}"></script>
<script type="text/javascript">
  jQuery(function($){

    // Create variables (in this scope) to hold the API and image size
    var jcrop_api,
        boundx,
        boundy,
        current,

        // Grab some information about the preview pane
        $preview = $('#preview-pane'),
        $pcnt = $('#preview-pane .preview-container'),
        $pimg = $('#preview-pane .preview-container img'),



        xsize = $pcnt.width(),
        ysize = $pcnt.height();
    
    console.log('init',[xsize,ysize]);
    $('#target').Jcrop({
      onChange: updatePreview,
      onSelect: updatePreview,
     // aspectRatio: xsize / ysize,
      aspectRatio: 4 / 2
    },function(){
      // Use the API to get the real image size
      var bounds = this.getBounds();
      boundx = bounds[0];
      boundy = bounds[1];
      // Store the API in the jcrop_api variable
      jcrop_api = this;

      // Move the preview into the jcrop container for css positioning
      $preview.appendTo(jcrop_api.ui.holder);
    });

    $(".save-crop").click(function(){
      $.post('/admin/crop/buildings/{{ building.id }}/{{ photo_index }}/', current, function(data){
        if(data == 'OK'){
          location.href='/admin/buildings/crop/{{ building.id }}/{{ photo_index + 1 }}/';
        }
      });
    });

    $(".skip-crop").click(function(){
      current = {x:0, y:0, w:0, h:0};
      $.post('/admin/crop/buildings/{{ building.id }}/{{ photo_index }}/skip/', current, function(data){
        if(data == 'OK'){
          location.href='/admin/buildings/crop/{{ building.id }}/{{ photo_index + 1 }}/';
        }
      });
    });

    function updatePreview(c)
    {
      if (parseInt(c.w) > 0)
      {
        var rx = xsize / c.w;
        var ry = ysize / c.h;
        current = {x:Math.round(c.x), y:Math.round(c.y), w:Math.round(c.w), h:Math.round(c.h)};
        $pimg.css({
          width: Math.round(rx * boundx) + 'px',
          height: Math.round(ry * boundy) + 'px',
          marginLeft: '-' + Math.round(rx * c.x) + 'px',
          marginTop: '-' + Math.round(ry * c.y) + 'px'
        });
      }
    };

  });


</script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/jcrop/jcrop.main.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/jcrop/jCrop-extra.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/jcrop/jquery.Jcrop.min.css') }}" type="text/css" />
<style type="text/css">

/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -280px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
#preview-pane .preview-container {
  width: 200px;
  height: 150px;
  overflow: hidden;
}

</style>

</head>
<body>

<div class="container">
<div class="row">
<div class="span12">
<div class="jc-demo-box">

<div class="page-header">
<h1>Crop photos for {{ building.address }}</h1>
</div>

  <img src="{{ url_for('static',filename=building.get_url_for(building.photos[photo_index])) }}" id="target" alt="[Jcrop Example]" />

  <div id="preview-pane">
    <div class="preview-container">
      <img src="{{ url_for('static',filename=building.get_url_for(building.photos[photo_index])) }}" class="jcrop-preview" alt="Preview" />
    </div>
  </div>

  <div class="description">
  <p>
    <a href="javascript:void(0);" class="save-crop btn">Save</a>
    <a href="javascript:void(0);" class="skip-crop btn">Skip</a>
  </p>
  </div>

<div class="clearfix"></div>

</div>
</div>
</div>
</div>

</body>
</html>

