{% extends "admin_layout.html" %}
{% block main_content %}
	{{ super() }}
	<div class="row">
		<div class="span12">
			<h1>Buildings</h1>
			<a href="/admin/buildings/new/" class="btn">New</a>
			<input type="text" class="pull-right input" id="id_search" placeholder="Search" />
			<table class="table table-striped table-bordered tablesorter">
				<thead>
					<tr>
						<th>Name</th>
						<th>Borough</th>
						<th>Neighborhood</th>
						<th colspan="2"><div class="pull-right pull-right-padding">Actions</div></th>
					</tr>
				</thead>
				<tbody>
				{% for building in buildings %}
				<tr>
					<td>{{ building.get('bui').name}}</td>
					<td>{{ building.get('bui').borough }}</td>
					<td>{{ building.get('bui').neighborhood }}</td>
					<td colspan="2">
					<div class="pull-right">
					 <a href="{{'/admin/buildings/edit/%s/' % building.get('bui').id}}" class="btn">Edit</a> <a href="{{ '/admin/buildings/delete/%s' % building.get('bui').id }}" class="btn delete">Delete</a>
					 </div>
					</td>
				</tr>
				
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>Building Features</h3>
			<a href="/admin/building_features/new/" class="btn">New</a>
			<input type="text" class="pull-right input" id="id_searchft" placeholder="Search" />
			<table class="table table-striped table-bordered tablesorter">
				<thead>
					<tr>
						<th>Name</th>
						<th colspan="2'"><div class="pull-right pull-right-padding">Action</div></th>
					</tr>
				</thead>
				<tbody>
					{% for feature in features %}
					<tr>
						<td>{{ feature.name }}</td>
						<td colspan="2">
							<div class="pull-right">
							 <a href="{{'/admin/building_features/edit/%s/' % feature.id}}" class="btn">Edit</a> <a href="{{ '/admin/building_features/delete/%s' % feature.id }}" class="btn delete">Delete</a>
							 </div>
						</td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>Unit Features</h3>
			<a href="/admin/unit_features/new/" class="btn">New</a>
			<input type="text" class="pull-right input" id="id_searchuft" placeholder="Search" />
			<table class="table table-striped table-bordered tablesorter">
				<thead>
					<tr>
						<th>Name</th>
						<th colspan="2"><div class="pull-right pull-right-padding">Action</div></th>
					</tr>
				</thead>
				<tbody>
					{% for feature in unit_features %}
					<tr>
						<td>{{ feature.name }}</td>
						<td colspan="2">
							<div class="pull-right">
							 <a href="{{'/admin/unit_features/edit/%s/' % feature.id}}" class="btn">Edit</a> <a href="{{ '/admin/unit_features/delete/%s' % feature.id }}" class="btn delete">Delete</a>
							 </div>
						</td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>Views</h3>
			<a href="/admin/views/new/" class="btn">New</a>
			<input type="text" class="pull-right input" id="id_searchuft" placeholder="Search" />
			<table class="table table-striped table-bordered tablesorter">
				<thead>
					<tr>
						<th>Name</th>
						<th colspan="2"><div class="pull-right pull-right-padding">Action</div></th>
					</tr>
				</thead>
				<tbody>
					{% for view in views %}
					<tr>
						<td>{{ view.name }}</td>
						<td colspan="2">
							<div class="pull-right">
							 <a href="{{'/admin/views/edit/%s/' % view.id}}" class="btn">Edit</a> <a href="{{ '/admin/views/delete/%s' % view.id }}" class="btn delete">Delete</a>
							 </div>
						</td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h3>Locations</h3>
			<a href="/admin/boroughs/new/" class="btn">New</a>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Boroughs</th>
						<th colspan="2"><div class="pull-right">Actions</div></th>
					</tr>
				</thead>
				<tbody>
				{% for borough in boroughs %}

				<tr>
					<td>{{ borough.name }}</td>
					<td colspan="2">
					<div class="pull-right">
					 <a href="{{'/admin/boroughs/edit/%s/' % borough.id }}" class="btn">Edit</a>
					 <a href="{{'/admin/boroughs/delete/%s/' % borough.id }}" data-id='{{ borough.id }}' onclick="return confirm('Are you sure you want to delete {{ borough.name }}?')" class="btn delete-borough">Delete</a>
					 </div>
					</td>
				</tr>

				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}

{% block per_page_js %}
<script type="text/javascript">
$(function(){
	$('.delete').click(function() {
	    if(window.confirm(this.title || 'Are you sure you want to delete this?')){
	    	console.log('clicked yes');
	    }else{
	    	return false;
	    }
	});

	$('.delete-borough').click(function(e){
		e.preventDefault();
		var $this = $(this);
		$.post('/admin/boroughs/delete/' + $(this).attr('data-id') + '/',function(data){
			console.log(data);
			if(data == 'ok'){
				console.log($this.closest('tr'));
				$this.closest('tr').remove();
			}
		});
	});
});
$("#id_search").quicksearch('table tbody tr')
$("#id_searchft").quicksearch('table tbody tr')
$("#id_searchuft").quicksearch('table tbody tr')
</script>
{% endblock %}