{% extends "admin_layout.html" %}

{% block extra_header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}">
<style type="text/css">
.upload-buttons{
  padding-left: 30px;
}

.search-padding-top{
  padding-top: 20px;
}

.manager-padding{
  padding-bottom:20px;
}

.all-photos-padding{
  padding-top:20px;
}
.photo-bottom-margin{
  margin-bottom: 10px;
}
#sortable{ list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; min-width:200px;}
  #sortable li{ margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; }	#sortable1{min-height: 100px;}
	
</style>
{{ super() }}
{% endblock %}

{% block main_content %}
  {{ super() }}
  <div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="row">
        <ul id="flashes" type="none">
        {% for category, message in messages %}
          {% if category == 'success' %}
            <li><div class="alert alert-success fade in"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div></li>
          {% elif category == 'error' %}
            <li><div class="alert alert-error fade in"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endwith %}
  </div>
  
  
  <div class="row">
    <div class="span12 manager-padding">
      <h1>Photo Manager</h1>
      <p>Minimum required dimensions 800x600</p>
 
      <div class="row" id="fileuploadarea" style="max-height:500px;">
            <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7 upload-buttons">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" accept="image/*" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <a href="{{ request.url }}" class="btn"><span class="icon-refresh"></span></a>
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
                <span>&nbsp;&nbsp;Refresh page to reflect changes.</span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div style="max-height:350px; overflow: auto;">
          <!-- The table listing the files available for upload/download -->
          <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
        </div>
    </form>
        
        
      </div>
      
      </div>
      
      
      <div class="row" id="allphotos">
        <div class="row search-padding-top">
        <input type="text" class="input pull-right" id="searchphotos" placeholder="Search" />
        </div>
        
        <div class="row all-photos-padding">
          <ul id="sortable">

          {% for photo in photos %}
             <li class="span2" data-id="{{ photo.id }}">
              <div class="thumbnail">
              	<img src="{{ photo.get_thumb }}?t={{timestamp}}" />
                <div class="caption" style="padding:7px;">
	                <a href="{{ url_for('photo_manager_delete', photo_id=photo.id, action='delete' ) }}" class="btn btn-mini btn-danger delete-img deleteBtn"><span class="icon-remove"> </span></a>
	                <a href="{{ url_for('edit_photo', photo_id=photo.id) }}"  class="btn btn-mini btn-warning"> <span class="icon-edit"> </span></a>
	                <button class="btn btn-mini pop-info" data-container="body" data-toggle="popover" data-placement="top"><i class="icon-info-sign"></i></button>
                	<span class="popup-text hide" >
                  	<div>
                  		<div><b>Name : </b>
                  		{% if photo.name %}
	                  		{{ photo.name }}
	                  	{% else %}
	                  		{{ photo._filename }}
	                  	{% endif %}
	                  	</div>
                  	</div>
                  </span>
              	</div>
              </li>
          {% endfor %}
          </ul>
        </div>
        
      </div>
      
    </div>
  </div>
  
{% raw %}
  <!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">

{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td class="title"><label>Title: <input name="title[]" required="required" placeholder="Include the building name."></label></td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}

</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery class="thumbnail"><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
           <!-- <span class="size">{%=o.formatFileSize(file.size)%}</span>-->
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
             <!--
                <button class="btn btn-warning cancel">
                                 <i class="glyphicon glyphicon-ban-circle"></i>
                                 <span>Cancel</span>
                             </button>-->
             
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
{% endraw %}

{% endblock %}

{% block per_page_js %}
<!-- Use for Tooltip  -->
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ url_for('static', filename='js/jQuery-File-Upload-9.5.7/js/vendor/jquery.ui.widget.js') }}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{{ url_for('static', filename='js/tmpl.min.js') }}"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{{ url_for('static', filename='js/load-image.all.min.js') }}"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="{{ url_for('static', filename='js/canvas-to-blob.min.js') }}"></script>
<!-- blueimp Gallery script -->
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ url_for('static', filename='js/jQuery-File-Upload-9.5.7/js/jquery.iframe-transport.js') }}"></script>
<!-- The basic File Upload plugin -->
<script src="{{ url_for('static', filename='js/jQuery-File-Upload-9.5.7/js/jquery.fileupload.js') }}"></script>
<!-- The File Upload processing plugin -->
<script src="{{ url_for('static', filename='js/jQuery-File-Upload-9.5.7/js/jquery.fileupload-process.js') }}"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{ url_for('static', filename='js/jQuery-File-Upload-9.5.7/js/jquery.fileupload-image.js') }}"></script>
<!-- The File Upload audio preview plugin -->
<script src="{{ url_for('static', filename='js/jQuery-File-Upload-9.5.7/js/jquery.fileupload-audio.js') }}"></script>
<!-- The File Upload video preview plugin -->
<script src="{{ url_for('static', filename='js/jQuery-File-Upload-9.5.7/js/jquery.fileupload-video.js') }}"></script>
<!-- The File Upload validation plugin -->
<script src="{{ url_for('static', filename='js/jQuery-File-Upload-9.5.7/js/jquery.fileupload-validate.js') }}"></script>
<!-- The File Upload user interface plugin -->
<script src="{{ url_for('static', filename='js/jQuery-File-Upload-9.5.7/js/jquery.fileupload-ui.js') }}"></script>

<script type="text/javascript">
	$('.pop-info').popover({
		trigger:"hover", 
		content:function(){
			var curr_elem = $(this);
			return curr_elem.siblings(".popup-text").children().text();
		}
	});
	

	
</script>

<script type="text/javascript"> 
$(function () {
    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
        // Uncomment the following to send cross-domain cookies:
        //xhrFields: {withCredentials: true},
        url: '/admin/photos/'
    });
    
    // Load existing files:
    $('#fileupload').fileupload('option', {
        disableImageResize: /Android(?!.*Chrome)|Opera/
            .test(window.navigator.userAgent),
        maxFileSize: 5000000,
        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
    }).addClass('fileupload-processing');

    // Prevent the upload from being submitted before the title is completed.
    $('#fileupload').bind('fileuploadsubmit', function (e, data) {
        var inputs = data.context.find(':input');
        if (inputs.filter(function () {
                return !this.value && $(this).prop('required');
            }).first().focus().length) {
            data.context.find('button').prop('disabled', false);
            return false;
        }
        data.formData = inputs.serializeArray();
    });

    $.ajax({
        // Uncomment the following to send cross-domain cookies:
        //xhrFields: {withCredentials: true},
        url: $('#fileupload').fileupload('option', 'url'),
        dataType: 'json',
        context: $('#fileupload')[0]
    }).always(function () {
        $(this).removeClass('fileupload-processing');
    }).done(function (result) {
        $(this).fileupload('option', 'done')
            .call(this, $.Event('done'), {result: result});
    });
    
    $("#searchphotos").quicksearch('ul#sortable li');
    
    /* delete photo from gallery */
   	$('.deleteBtn').click(function() {
	    if(window.confirm(this.title || 'Are you sure you want to delete this?')){
	    	return true;
	    } else {
	    	return false;
	    }
	});

});

</script>
{% endblock %}