{% extends "admin_layout.html" %}
{% block main_content %}
	{{ super() }}
	<div class="row">
		<div class="span12">
			<h1>Home Page CMS</h1>
			<div class="row">
				
				<form method="POST" action="." class="form-horizontal">
				  <div class="row">
				    {{ form.csrf_token }}
				    {% if home.get_photo1_obj %}
	   				<input type="hidden" name="buildphotoid1" value="{{home.get_photo1_obj.get_name()}}" />
	   				{% else %}
	   				<input type="hidden" name="buildphotoid1" value="" />
	   				{% endif %}
	   				{% if home.get_photo2_obj %}
	   				<input type="hidden" name="buildphotoid2" value="{{home.get_photo2_obj.get_name()}}" />
	   				{% else %}
	   				<input type="hidden" name="buildphotoid2" value="" />
            {% endif %}

				    <div class="span6">
				    <fieldset id="building1">
				    	<legend>Block 1</legend>

				    	<div class="control-group">
						    <label class="control-label" for="inputEmail">{{ form.building_1.label }}</label>
						    <div class="controls">
						      {{ form.building_1 }}
						    </div>
						  </div>

				    	<div class="control-group">
						    <label class="control-label" for="inputPhoto1">{{ form.photo_1.label }}</label>
						    <div class="controls">
						      <input id="photo_1_val" type="hidden" value="{{ form.photo_1.data }}"/>
						      <input id="photo_1" name="photo_1"></input>
						    </div>
						  </div>

				    	<div class="control-group">
						    <label class="control-label" for="inputEmail">{{ form.title_1.label }}</label>
						    <div class="controls">
						      {{ form.title_1(size=20) }}
						    </div>
						  </div>
				    	
				    	<div class="control-group">
						    <label class="control-label" for="inputEmail">{{ form.subtitle_1.label }}</label>
						    <div class="controls">
						      {{ form.subtitle_1 (maxlength=23)}}
						    </div>
						     <div class="span3" style="margin-left: 180px;margin-top:20px;">Please insert text below 23 characters</div>
						  </div>
				    	 
				    </fieldset>
				    </div>
				    
				    <div class="span6">
				    <fieldset id="building2">
				    	<legend>Block 2</legend>

				    	<div class="control-group">
						    <label class="control-label" for="inputEmail">{{ form.building_2.label }}</label>
						    <div class="controls">
						      {{ form.building_2 }}
						    </div>
						  </div>

				    	<div class="control-group">
						    <label class="control-label" for="inputPhoto2">{{ form.photo_2.label }}</label>
						 		<input id="photo_2_val" type="hidden" value="{{ form.photo_2.data }}"/>
						    <div class="controls">
						    	<input id="photo_2" name="photo_2"></input>
						    </div>
						  </div>
						  
				    	<div class="control-group">
						    <label class="control-label" for="inputEmail">{{ form.title_2.label }}</label>
						    <div class="controls">
						      {{ form.title_2(size=20) }}
						    </div>
						  </div>
						  
				    	<div class="control-group">
						    <label class="control-label" for="inputEmail">{{ form.subtitle_2.label }}</label>
						    <div class="controls">
						      {{ form.subtitle_2 (maxlength=23)}}
						    </div>
						    <div class="span3" style="margin-left: 180px;margin-top:20px;">Please insert text below 23 characters</div>
						  </div>

				    </fieldset>
				    </div>
					
					</div>
					
					<div class="row text-center">
						<button type="submit" class="btn">Save</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>

{% endblock %}
{% block per_page_js %}
<script type="text/javascript">

$(function(){
	$("#photo_1").select2({
		placeholder: "Select photo",
		width: 250,
		 
		initSelection: function(element, callback) {
		 	var data = { id: $("#photo_1_val").val(), text: $("input[name=buildphotoid1]").val() };
		 	callback(data);
		},

		formatResult: function(object, container, query) {
				return "<img class='flag' src='" + object.thumbnail + "'/>" + object.text;
		},
	
		ajax: {
		 		url: function() {
		 			return "/admin/building/photos/" + $("#building_1").val();
		 		},
		 		data: function (term, page) {
					return {
						q: term, // search term
					};
				},
		 		results: function(data, page) {
		 			photos = data.photos;
		 			return {"results": photos};
		 		}
		}
	});
	
	$("#photo_1").select2("val", $("#photo_1_val").val());

	$("#photo_2").select2({
		placeholder: "Select photo",
		width: 250,
		// minimumResultsForSearch: -1,
		 
		initSelection: function(element, callback) {
		 	var data = { id: $("#photo_2_val").val(), text: $("input[name=buildphotoid2]").val() };
		 	callback(data);
		},

		formatResult: function(object, container, query) {
				return "<img class='flag' src='" + object.thumbnail + "'/>" + object.text;
		},
	
		ajax: {
		 		url: function() {
		 			return "/admin/building/photos/" + $("#building_2").val();
		 		},
		 		data: function (term, page) {
					return {
						q: term, // search term
					};
				},
		 		results: function(data, page) {
		 			photos = data.photos;
		 			return {"results": photos};
		 		}
		}
	});
	
	$("#photo_2").select2("val", $("#photo_2_val").val());
	
	var $this = '';
	$(".approve-user").click(function(){
		$this = $(this);
		$.getJSON('/admin/users/approve/' + $(this).attr('data-approve') + '/',
		function(data){
			if(data.result == 'success'){
				$this.closest('tr').hide('fast');
				if(data.pending < 1){
					window.location = "/admin/users/";
				}
			}
		});
	});
});

</script>
<script type="text/javascript" src="{{url_for('static', filename='js/select2/select2.js')}}"></script>
<link href="{{ url_for('static',filename='js/select2/select2.css') }}" rel="stylesheet"/>
{% endblock %}