<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aspect Ratio with Preview Pane | Jcrop Demo</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  
  <script src="{{ url_for('static',filename='js/jquery-1.10.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery.Jcrop.min.js') }}"></script>
  <script type="text/javascript">
  jQuery(function($){

    // Create variables (in this scope) to hold the API and image size
    var jcrop_api,
        boundx,
        boundy,
        current,

        // Grab some information about the preview pane
        $preview = $('#preview-pane'),
        $pcnt = $('#preview-pane .preview-container'),
        $pimg = $('#preview-pane .preview-container img'),

        xsize = $pcnt.width(),
        ysize = $pcnt.height();
    
    console.log('init',[xsize,ysize]);
    $('#target').Jcrop({
      onChange: updatePreview,
      onSelect: updatePreview,
      aspectRatio: 4 / 3,
      minSize: [800, 600]
    },function(){
      // Use the API to get the real image size
      var bounds = this.getBounds();
      boundx = bounds[0];
      boundy = bounds[1];
      // Store the API in the jcrop_api variable
      jcrop_api = this;

      // Move the preview into the jcrop container for css positioning
      $preview.appendTo(jcrop_api.ui.holder);
      
    });

    function updatePreview(c)
    {
      if (parseInt(c.w) > 0)
      {
        var rx = xsize / c.w;
        var ry = ysize / c.h;
        current = {x:Math.round(c.x), y:Math.round(c.y), w:Math.round(c.w), h:Math.round(c.h)};
        $pimg.css({
          width: Math.round(rx * boundx) + 'px',
          height: Math.round(ry * boundy) + 'px',
          marginLeft: '-' + Math.round(rx * c.x) + 'px',
          marginTop: '-' + Math.round(ry * c.y) + 'px'
        });
        $("#x").val(current.x);
        $("#y").val(current.y);
        $("#w").val(current.w);
        $("#h").val(current.h);
      }
    };
  });


</script>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/jcrop/jcrop.main.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/jcrop/jCrop-extra.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/jcrop/jquery.Jcrop.min.css') }}" type="text/css" />
  <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <style type="text/css">
  
  /* Apply these styles only when #preview-pane has
     been placed within the Jcrop widget */
  .jcrop-holder #preview-pane {
    display: block;
    position: absolute;
    z-index: 2000;
    top: 10px;
    right: -280px;
    padding: 6px;
    border: 1px rgba(0,0,0,.4) solid;
    background-color: white;
  
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  }
  
  /* The Javascript code will set the aspect ratio of the crop
     area based on the size of the thumbnail preview,
     specified here */
  #preview-pane .preview-container {
    width: 200px;
    height: 150px;
    overflow: hidden;
  }  
  .dl-horizontal dt{
    text-align: left;
    padding-left: 14px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
  }
  
  .dl-horizontal dd {
      margin-left: 100px;
  }
  
  #pedit_frm_buttons{
    padding-left: 12px;
  }
  
  .edit-photo-filename{
    float:left; line-height: 56px;
  }
  
.photo-edit-form .dl-horizontal,
.photo-edit-form .dl-horizontal dd{
	width:440px;
}
.photo-edit-form .dl-horizontal{
	float:left;
}
.jc-demo-box {
	margin-top: 80px;
}  
  </style>
  
  </head>
  <body>
  		<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
         <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/"></a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
  			{%- if g.user.is_anonymous() -%}          	
              <li><a href="/login/">Sign In</a></li>
  			{%- else -%}						
              <li><a href="#">Welcome {{ g.user }}</a></li>
              <li><a href="/logout/">Sign Out</a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

    {% from "_formhelpers.html" import render_field %}
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="jc-demo-box">
      
              <div class="page-header">
                
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  <div class="row">
                    <ul class=flashes type="none">
                    {% for category, message in messages %}
                      {% if category == 'success' %}
                        <li><div class="alert alert-success fade in"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div></li>
                      {% elif category == 'error' %}
                        <li><div class="alert alert-error fade in"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div></li>
                      {% endif %}
                    {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                {% endwith %}               
                
               <div class="row-fluid">
                  <h1 style="float:left">Edit photo</h1><h6 class="edit-photo-filename">{{photo._filename}}</h6>
                  <div class="clearfix"></div>
               </div>
                 <form class='photo-edit-form' enctype="multipart/form-data" action="{{ url_for('edit_photo', photo_id=photo.id) }}?next={{ referrer }}" method="post">
                   {{ form.hidden_tag() }}
                   {{ render_field(form.title) }}
                   {{ render_field(form.name) }}
                   <div style='text-align:right'>
                   	We recommend including the building name in the file name for easier search results.<br>
					For example, if the image is uploaded for "Nomad", then use name as "Nomad-Listing-1".
                   	</div>
                   	
                   <div id="pedit_frm_buttons">
                     <a href="{{ referrer }}" class="btn btn-inverse"> <span class="icon-chevron-left"> </span>    Back </a>
                     <input type="submit" value="Save" class="btn btn-success" />
                   </div>
                 </form>  
              
              </div>
              <h4> Original Image </h4>
                <img src="{{ photo.url }}?t={{timestamp}}" id="target" alt="[Jcrop Example]" />
                <div id="preview-pane" class="row">
                  <div class="preview-container">
                    <img src="{{ photo.url }}?t={{timestamp}}" class="jcrop-preview" alt="Preview" />
                  </div>
                </div>
              
              <div class="clearfix"></div>
              <br />
           	<div>
              		<h4> Cropped Version </h4>
              		{% if photo.get_cropped %}
	              		<img src="{{photo.get_cropped}}?t={{timestamp}}"/>
	              	{% else %}
	              		Image not cropped yet.
	              	{% endif %}
            </div>


            </div>
          </div>
        </div>
        
      </div>
  </body>
</html>