{% extends "admin_layout.html" %}
{% block extra_header %}
{{ super() }}
{% endblock %}
{% block main_content %}
	{{ super() }}
	<div class="row">
		<div class="span12">
			{% from "_formhelpers.html" import render_field %}
        <form method="post" action="/admin/building_features/{{ action }}/{% if feature.id %}{{ feature.id }}/{% endif %}">
          {{ form.hidden_tag() }}
        <h2>{{ action.capitalize() }} Building Feature</h2>
          {{ render_field(form.name) }}
          {{ render_field(form.street_easy) }}
          {{ render_field(form.street_easy_other) }}
          {{ render_field(form.rentals_parent) }}
          {{ render_field(form.rentals) }}
          {{ render_field(form.rentals_value) }}
        <p><input type="submit" value="Save" class="btn" />
		</div>
	</div>
{% endblock %}