{% extends "admin_layout.html" %}
{% block main_content %}
	{{ super() }}
	<div class="row">
		<div class="span12">
			<h1>Neighborhoods</h1>
			<a href="/admin/neighborhoods/new/" class="btn">New</a>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Neighborhood</th>
						<th>Borough</th>
						<th>Description</th>
						<th colspan="2"><div class="pull-right pull-right-padding">Actions</div></th>
					</tr>
				</thead>
				<tbody>
				{% for neighborhood in neighborhoods %}
				
				<tr>
					<td>{{ neighborhood.name }}</td>
					<td>{{ neighborhood.borough.name }}</td>
					<td>{{ neighborhood.desc | safe }}</td>
					<td colspan="2">
					<div class="pull-right">
					 <a href="{{'/admin/neighborhoods/edit/%s/' % neighborhood.id}}" class="btn">Edit</a> <a href="{{ '/admin/neighborhoods/delete/%s' % neighborhood.id }}" class="btn delete-neighborhood">Delete</a>
					 </div>
					</td>
				</tr>
				
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}