

/*css for seo page*/

.url-field {
	margin-left: 145px;
}

#select-url {
	margin-left: 10px;
}

#text-url {
	margin-left: 33px;
}

#error-pos {
	margin-left: 30px;
}

#div-keywords {
	margin-left: 106px;
}

/*select 2 keywords*/
.select2-choices {
    border-radius: 4px 4px 4px 4px !important;
}
