
@font-face {
    font-family: 'geometric_slabserif_712_ligRg';
    src: url('../css/fonts/geometricslab712bt-lighta-webfont.eot');
    src: url('../css/fonts/geometricslab712bt-lighta-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/geometricslab712bt-lighta-webfont.woff') format('woff'),
         url('../css/fonts/geometricslab712bt-lighta-webfont.ttf') format('truetype'),
         url('../css/fonts/geometricslab712bt-lighta-webfont.svg#geometric_slabserif_712_ligRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'geometric_slabserif_712medium';
    src: url('../css/fonts/geometricslab712bt-mediuma-webfont.eot');
    src: url('../css/fonts/geometricslab712bt-mediuma-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/geometricslab712bt-mediuma-webfont.woff') format('woff'),
         url('../css/fonts/geometricslab712bt-mediuma-webfont.ttf') format('truetype'),
         url('../css/fonts/geometricslab712bt-mediuma-webfont.svg#geometric_slabserif_712medium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'geometr212_bk_btbook';
    src: url('../css/fonts/geometric_212_book_bt-webfont.eot');
    src: url('../css/fonts/geometric_212_book_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/geometric_212_book_bt-webfont.woff') format('woff'),
         url('../css/fonts/geometric_212_book_bt-webfont.ttf') format('truetype'),
         url('../css/fonts/geometric_212_book_bt-webfont.svg#geometr212_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'geometr212_bkcn_btheavy';
    src: url('../css/fonts/geometric-212-heavy-condensed-bt-webfont.eot');
    src: url('../css/fonts/geometric-212-heavy-condensed-bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/geometric-212-heavy-condensed-bt-webfont.woff') format('woff'),
         url('../css/fonts/geometric-212-heavy-condensed-bt-webfont.ttf') format('truetype'),
         url('../css/fonts/geometric-212-heavy-condensed-bt-webfont.svg#geometr212_bkcn_btheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'geometric_212_heavy_bt';
    src: url('fonts/fonts/geometric_212_heavy_bt.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;

}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important
}

@font-face {
	font-family: 'myriad_prolight_semicondensed';
	src: url('../css/fonts/myriad-pro-light-semicondensed-webfont.eot');
	src: url('../css/fonts/myriad-pro-light-semicondensed-webfont.eot?#iefix') format('embedded-opentype'),  url('../css/fonts/myriad-pro-light-semicondensed-webfont.woff') format('woff'),  url('../css/fonts/myriad-pro-light-semicondensed-webfont.ttf') format('truetype'),  url('../css/fonts/myriad-pro-light-semicondensed-webfont.svg#myriad_prolight_semicondensed') format('svg');
}
@font-face {
	font-family: 'myriad_prosemibold_condensed';
	src: url('../css/fonts/myriad-pro-semibold-condensed-webfont.eot');
	src: url('../css/fonts/myriad-pro-semibold-condensed-webfont.eot?#iefix') format('embedded-opentype'),  url('../css/fonts/myriad-pro-semibold-condensed-webfont.woff') format('woff'),  url('../css/fonts/myriad-pro-semibold-condensed-webfont.ttf') format('truetype'),  url('../css/fonts/myriad-pro-semibold-condensed-webfont.svg#myriad_prosemibold_condensed') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'myriad_problack';
	src: url('../css/fonts/myriad_pro_black_condensed-webfont.eot');
	src: url('../css/fonts/myriad_pro_black_condensed-webfont.eot?#iefix') format('embedded-opentype'),  url('../css/fonts/myriad_pro_black_condensed-webfont.woff') format('woff'),  url('../css/fonts/myriad_pro_black_condensed-webfont.ttf') format('truetype'),  url('../css/fonts/myriad_pro_black_condensed-webfont.svg#myriad_proheavy') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'tradegothicboldtwenty';
	src: url('../css/fonts/trade-gothic-bold-condensed-webfont.eot');
	src: url('../css/fonts/trade-gothic-bold-condensed-webfont.eot?#iefix') format('embedded-opentype'),  url('../css/fonts/trade-gothic-bold-condensed-webfont.woff') format('woff'),  url('../css/fonts/trade-gothic-bold-condensed-webfont.ttf') format('truetype'),  url('../css/fonts/trade-gothic-bold-condensed-webfont.svg#tradegothicbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'myriadprobold';
    src: url('../css/fonts/myriadpro-bold-webfont.eot');
    src: url('../css/fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/myriadpro-bold-webfont.woff') format('woff'),
         url('../css/fonts/myriadpro-bold-webfont.ttf') format('truetype'),
         url('../css/fonts/myriadpro-bold-webfont.svg#myriadprobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'myriadprocond';
    src: url('../css/fonts/myriadprocond-webfont.eot');
    src: url('../css/fonts/myriadprocond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/myriadprocond-webfont.woff') format('woff'),
         url('../css/fonts/myriadprocond-webfont.ttf') format('truetype'),
         url('../css/fonts/myriadprocond-webfont.svg#myriadprocond') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'myriadproboldcond';
    src: url('../css/fonts/myriadpro-boldcond-webfont.eot');
    src: url('../css/fonts/myriadpro-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/myriadpro-boldcond-webfont.woff') format('woff'),
         url('../css/fonts/myriadpro-boldcond-webfont.ttf') format('truetype'),
         url('../css/fonts/myriadpro-boldcond-webfont.svg#myriadproboldcond') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'myriadprosemibold';
	src: url('../css/fonts/MyriadPro-Semibold.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'myriadproregular';
	src: url('../css/fonts/MyriadPro-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

.myriad_prolight_semicondensed {
	font-family: 'myriad_prolight_semicondensed';
}
.myriad_prosemibold_condensed {
	font-family: 'myriad_prosemibold_condensed';
}
.myriad_problack {
	font-family: 'myriad_problack';
}
.tradegothicboldtwenty {
	font-family: 'tradegothicboldtwenty';
}
.myriadprocond {
	letter-spacing: 1px;
	font-family: 'myriadprocond';
}
.myriadproboldcond {
	font-family: 'myriadproboldcond';
}


.topmenufont li a {
	font-family: 'myriadprocond' !important;
	font-size: 16px!important;
	color: #08262c!important;
	letter-spacing:1px;
}

.secondtopmenufont li a {
	font-family: 'myriad_prosemibold_condensed';
	font-size: 18px;
	color: #007688;
	text-transform: uppercase;
	letter-spacing: 0.021em;
}
.topmenufonts li a{
	font-family: 'Geometric706W01-Medium' !important;
	font-size: 13px!important;
	color: #08262c!important;
	margin-left:30px;
	padding-top:25px;

}
.navbar-fixed-top ul li a{
float:left;font-family: 'Geometric706W01-Medium';
letter-spacing:2px;
marginn-top:27px;
}


ul.nav.navbar-nav.navbar-left li a.custfooterli{
color:#FFFFFF !important;
float:left;
font-family:'arial';
font-size:12px;
margin-left:10px;
margin-top:10px;
padding:0px;
}
.custliblock
{
margin-left:30px;}

.nav-bar-fixed-bottom ul li{
list-style:none outside none;}
a{
color:#08262C;
font-size:14px;
text-decoration:none;}
.selected{
color:#4296b4;}
ul.nav.navbar-nav.navbar-right.topmenufont {margin-right:10px;}
.nav.navbar-nav.navbar-right.topmenufont > li > a{padding: 15px 5px 10px 5px}
.nav.navbar-nav.navbar-right.secondtopmenufont >li > a {padding:8px 11px 2px 11px;}
ul.nav.navbar-nav.navbar-right.secondtopmenufont{margin-right:5px;}
.nav.navbar-nav.navbar-right.topmenufonts > li > a{padding: 20px 5px 10px 5px}
.sidebariconlist{width: 11px;
	height: 12px;
	padding-left:20px;	
	margin-left:2px !important;}
	
.btniconright{	
   width: 11px;
   height: 18px;
   position: relative;
   display: inline-block;  
   float:right;
   margin:4px 10px;
}


	
.arrow{background:url(../img/arrow.png) right no-repeat; width:7px; height:8px;}
.menubtniconright{	
   position: relative;
   display: inline-block;  
   float:right;
   margin:2px 5px;
}

.selctboxtext{color:#16526e !important; font-family:'myriadprobold' !important; font-size:12px !important; letter-spacing:0.3px; 
text-transform:uppercase}

.menuboxcontainer1{  width:670px; background-color:#f8f3e9; padding:10px;}
.menuboxcontainer2{ width:670px; background-color:#f8f3e9; padding-top:10px;}

.menubox{ font-family:'myriadprosemibold' !important;  font-size: 14px !important;  font-weight: 400 !important;  color: #737b81;
text-transform:uppercase;}

.menubarcolor{background-color:#f8f3e9;}
.menubox{ font-family:'myriadprosemibold' !important;  font-size: 14px !important;  font-weight: 400 !important;  color: #737b81;text-transform:uppercase;}
.custom-md{margin:10px 5px; width:31%}
.availheight{min-height:270px;}
.critsrchbg{background:#c8c8cb}
.critsrchpricerange{height:100px; width:100%; border:1px solid #fff}
.critsrchheading{width:100%; height:25px; background-color:#fff; }
.critsrchheading h3{ margin:0px !important; border:0 !important; padding:5px 15px;  }
.critsrchbtn{background-color:#fff; height:25px; width:100%; bottom:0px; line-height:12px; text-align:left; padding-left:10px !important;}

.menuboxmap{width:100%; margin-top:10px; background-color:#666;}
.menuboxmap2{width:100%; margin-top:10px;}

.leftmenucntnr{float:left; margin-left:20px;}
.menubarthumbs img{height:130px; width:100% }

.menupropimage img{width:100%; height:180px; border:3px solid #000;}
.menubarimgdesc{background-color:#000; opacity:0.6; width:100%; padding-bottom:5px; height:35px; margin-top:-35px; z-index:10;}
.menubarimgdesc2{font-size:22px !important; color:#FFF; font-family:'myriad_prosemibold_condensed'; letter-spacing:0.5px; text-align:left; position:absolute; margin-top:-35px; z-index:15; padding-left:10px;}
.menubaravaildesc{font-size:16px !important; color:#FFF; font-family:'myriad_prosemibold_condensed'; letter-spacing:1px; text-align:left; 
position:absolute; margin-top:-35px; z-index:15; padding-left:10px;}
.menubaravaildesc2{font-size:12px !important; color:#FFF; font-family:'myriad_prosemibold_condensed'; letter-spacing:1px; text-align:left; 
position:absolute; margin-top:-5px; z-index:15; }
.menubaravaildesc2 span{color:#d7df23}
.menubarimgdesc2 span{color:#d7df23}

.limenubrdbtm{  left:0 !important;
  background-color: #f8f3e9 !important;
  border-bottom: 3px solid #007688 !important;
  border-radius: 0 !important;  
  margin-left:200px !important;
  }
  
.listhead{font-family:'myriadprobold' !important; font-size:14px !important; font-weight:600; color:#007688 !important; letter-spacing:0.5px; }

.menulisttext{padding-top:5px;}
.menulisttext li {line-height:14px !important; padding-bottom:5px}
.menulisttext li a{color:#16526e; font-size:14px !important; font-family:'myriadproregular' !important; text-transform:capitalize !important; 
letter-spacing:0.5px; text-decoration:none;}



.menubrdbtm {
	border-bottom: 3px solid #c8c8cb !important;
	width:90%;
	margin:0 auto;	
}
#topmenubar2.nav .open > a, #topmenubar2.nav .open > a:hover, .nav .open > a:focus{ 
  background-color: #fefdfc ;
  border-top:3px solid #d9ebed ;  
  margin-top:-3px;
}

#topmenubar2.nav > li > a:hover,#topmenubar2.nav > li > a:focus {
  background-color: #fefdfc ;
  border-top:3px solid #d9ebed ;  
  margin-top:-3px;
}
#topmenubar2.navbar-right .dropdown-menu{
right: inherit;
left: -350px;
}

#topmenubar3 .dropdown-menu {
  left:-60px !important;
  background-color: #f8f3e9 !important;
  border-bottom: 3px solid #007688 !important;
  border-radius: 0 !important;  
}
#topmenubar3 .dropdown-menu > li > a {
  color: #737b81;
  font-weight: 600 !important;
  font-size: 14px !important;
  font-family:'myriadprosemibold' !important;
}

#topmenubar .dropdown-menu {
  left:0 !important;
  background-color: #f8f3e9 !important;
  border-bottom: 3px solid #007688 !important;
  border-radius: 0 !important;  
}


#topmenubar .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-family:'myriadprosemibold' !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #737b81;
  letter-spacing:0.5px;
}

#topmenubar .dropdown-menu > li > a:hover,
#topmenubar .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

#topmenubar .dropdown-menu > .active > a,
#topmenubar .dropdown-menu > .active > a:hover,
#topmenubar .dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #000;
  outline: 0;
}

#topmenubar .dropdown-menu > .disabled > a,
#topmenubar .dropdown-menu > .disabled > a:hover,
#topmenubar .dropdown-menu > .disabled > a:focus {
  color: #999999;
}

#topmenubar .dropdown-menu > .disabled > a:hover,
#topmenubar .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

	
.icon-location{background: url(../img/icons.png) no-repeat;
	background-position: 0 6px;
	}
.icon-download{background: url(../img/icons.png) no-repeat;
	background-position: 0 -16px;
	}	
.icon-print{background: url(../img/icons.png) no-repeat;
	background-position: 0 -40px;	
	}	
.icon-share{background: url(../img/icons.png) no-repeat;
	background-position: 0 -58px;	
}	
	
.bpmzero{padding:0 !important; margin:0 !important; border:0 !important}
.bpmleftzero{padding-left:0 !important; margin:0 !important; border:0 !important}
.bpmtop38{padding-top:38px !important; margin-top:20 !important; !important}
#pdngTBseven {
	padding: 7px 0;
}
 

.logo {
	/*position: absolute;*/
	width: 168px;
	height: 117px;
	z-index: 1;
	margin-left: 10px;
	margin-top:36px
}
.trp {
	background: url(../img/menubg.png) repeat !important;
}
.relative {
	position: relative;
	top: 0;
	left: 0;
	margin-top: -160px;
}
.brdbtm {
	border-bottom: 3px solid #939597 !important;
}
.brdtop {
	border-top: 3px solid #939597 !important;	
}
.function_form {
	height: 80px;
	margin-top: -10px;
}
.mrgn_btm {
	margin-bottom: 5px;
}
.mrgn_topten{margin-top:10px;}
.mrgn_top {
	margin-top: 20px;
}
.mrgn_top2 {
	margin-top: 80px;
}
.mrgn_left{margin-left:100px;}
.demo {
	background-color: #999;
	height: 65px;
	border: 1px solid #000
}
.btncolr {
	background-color: #d7df21;
	width: 120%;
	border: 1px solid #5e6872;
	height: 65px;
	font-family: 'myriad_problack';
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0;
}
.btncolr span {
	float: left;
	margin-top: 25px;
	width: 30px;
	padding-left: 5px;
	text-align: left
}
/*banner*/ 

.bannerheader {
	font-family: 'tradegothicboldtwenty' !important;
	color: #16526e !important;
	font-weight: 600 !important;
	font-size: 38px;
	padding: 0 !important;
	border: 0 !important;
	margin: 10px 20px 0 0 !important
}
.bannerh4 {
	font-family: 'myriad_prolight_semicondensed';
	font-size: 24px;
	color: #5e6871;
	font-weight: 400 !important;
	padding: 0 0 10px 0 !important;
	border: 0 !important;
	margin: -5px 20px 0 0 !important;
}
.bannerdesc{position:inherit; margin-top:-180px}
.desccolor {
	background-color: #f8f3e9;
}
.descboxline {
	background: url(../img/bannerleftline.png) left no-repeat;
	padding-left: 60px
}
.image1 {
	height: 180px;
	background-color: #999;
	border: 2px solid #5e6872
}
.min_height {
	min-height: 500px;
}

.custselectcntnr {
	width: 140px;
	height: 50px;
	margin-right: 20px;
}
.custselect {
	border: 0 !important;
	background: url(../img/select.png) no-repeat !important;
	width: 169px !important;
	height: 28px !important;
	margin-bottom: 5px !important;
}
.undr {
	border-bottom: 1px solid #fff;
	padding-bottom: 4px;
}
.whitecolor {
	color: #fff
}
.blackcolor {
	background-color: #000
}
.share {
	background-color: #009;
	height: 5px;
	width: 10px;
}
.footertitle {
	font-family: 'myriad_prosemibold_condensed' !important;
	font-size: 18px!important;
	color: #fff !important;
	letter-spacing: 0.5px;
}
.footeraddr {
	font-family: 'myriad_prosemibold_condensed' !important;
	font-size: 16px!important;
	color: #c6c6c9 !important;
}
.footercopytext {
	font-family: 'myriad_prosemibold_condensed' !important;
	font-size: 16px!important;
	color: #fff !important;
	letter-spacing: 0.5px;
}
.footercolor {
	background-color: #5e6872;
}
.footer{color:#c6c6c9}
.footerlist li a {
	font-family: 'myriad_prolight_semicondensed' !important;
	font-size: 14px!important;
	color: #c6c6c9 !important;
	text-decoration: none
}
.footerlist li a:hover {
	color: #fff !important;
	cursor: pointer
}

.btn-ftrbtn {
	color: #fff;
	background-color: #19526e;
	border-color: #19526e;
	/* border-radius: 0 10px 10px 0 !important;*/
	cursor: pointer;
}
.alginsymbol {
	background: url(../img/algin-icon.png) no-repeat;
	height: 39px;
	width: 40px;
}
#mapinfobox {
	width: 250px;
	height: 210px;	
}
#mapinfobox img {
	width: 100%;	
	height: 150px;
	padding:3px;
	background-color:#5e6872;	
}
.mapboxcntnt{background-color:#5e6872; opacity:0.6; width:100%; padding-bottom:5px; height:37px; z-index:10;}
.mapboxcntntdesc{position:absolute; margin-top:-30px; z-index:15;}
.mapboxfont{font-size:23px !important; color:#FFF; font-family:'myriad_prosemibold_condensed'; letter-spacing:0.5px;
 padding-left:8px;}
.mapboxfont2{font-size:24px !important; margin-top:-5px;}
.mapboxfont span{color:#d7df23;}
.mapboxfont span.addr{font-size:16px !important; }


#availabilitiestable.table thead {
	background-color: #5e6872;
	text-transform: uppercase
}
#availabilitiestable.table tr th {
	font-family: 'myriad_prosemibold_condensed' !important;
	font-size: 16px!important;
	color: #fff !important;
	text-transform: uppercase;
	letter-spacing: 1px
}
#availabilitiestable.table tr td {
	font-family: 'myriad_prosemibold_condensed' !important;
	font-size: 16px!important;
	color: #16526e !important;
    vertical-align: top !important;
    padding-top: 5px;
}
#availabilitiestable.table-striped > tbody > tr:nth-child(even) > td, #availabilitiestable.table-striped > tbody > tr:nth-child(even) > th {
	background-color: #f8f3e9 !important;
	vertical-align: middle;
}
#availabilitiestable.table-striped > tbody > tr:nth-child(odd) > td, #availabilitiestable.table-striped > tbody > tr:nth-child(odd) > th {
	vertical-align: middle;
}
#availabilitiestable.table-hover > tbody > tr:hover > td, #availabilitiestable.table-hover > tbody > tr:hover > th {
	background-color: #f5f5f5 !important;
}
/* Prperties Page */
#forsidebarpage {
	margin-top: -20px;
	background-color: #f8f3e9;
	padding-bottom:20px;
	
}
.propertybnrsldr {
	height: 275px;
	background-color: #CCC
}
.aboutusbanner{
	height: 675px;
	background-color: #CCC
}

.whitebgcolor {
	background-color: #fff;
}
.prprtymaincolor {
	color: #16526e;
	letter-spacing: 1px
}
.mainheading {
	font-family: 'myriad_prosemibold_condensed';
	font-size: 34px;
}
.headingbrdbtm {
	border-bottom: 3px solid #c8c8cb !important;
	padding-bottom: 5px !important;
}
.prptylist {
	font-size: 18px;
}

.prptylist2 {
	font-size: 16px;
}

.prptyhead2 {
	font-size: 16px;
	margin-top: -2px;
}
.prpertymap {
	width: 100%;
	background-color: #999999;
	height: 350px;
	margin: 20px 0;
}
.customnavbar {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}
.sidebartext, .sidebartext a {
	font-family: 'myriadproboldcond';
	font-weight: 400;
	font-size: 17px;
	text-decoration: none;
	color: #16526e;
	letter-spacing:1px;
	text-transform:uppercase;
	line-height:30px;
}
.sidebartext span{padding-right:25px; line-height:30px; margin-left:10px;}
.sidebartext a:hover{color:#348797;text-decoration: none; }

.sidebarheading, .sidebarheading li a{
	font-family: 'myriadproboldcond';
	font-weight: 600;
	font-size: 19.7px;
	letter-spacing:1px;
	text-decoration:none;
}


.sidebarheading li a:hover, .sidebarheading li a.actsh {color:#348797;text-decoration: none; }

.sidbarsubheading {
	font-family: 'myriadproboldcond';
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px;
	color:#b7be1c;	
}

.addrss {
	color: #007688;
}
.sidebarimgdesc{background-color:#666; text-align:left; padding-left:10px; padding-bottom:5px; color:#FFF}

.sidebardesccolor, .sidebardesccolor li a {
	color: #5e6871
}
.sidebarmenuselected {
	width:100%;	
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	background-color: #d7df21;
	margin-bottom: 5px;	
}
.yellowbtn {
	height: 30px !important;
	width:100%;
	background-color: #d7df21;	
	padding-bottom:10px;
	margin-bottom:10px;
	}
.yellowbtn span{padding-left:10px;}	
.yellowbtntext{
	font-family: 'myriadproboldcond';
	font-weight: 400;
	font-size: 17px;
	text-decoration: none;
	color: #16526e;
	letter-spacing:1px;
	text-transform:uppercase;
	line-height:30px !important;
	vertical-align:middle !important;	
	}
.aboutusbtntext{
	font-family: 'myriadproboldcond';
	font-weight: 400;
	font-size: 17px;
	text-decoration: none;
	color: #16526e;
	letter-spacing:1px;
	text-transform:uppercase;
	line-height:20px !important;
	vertical-align:middle !important;	
}



.sidebarmenuselected span{padding-left:20px; line-height:30px; padding-right:20px !important}



.sidebarimage {
	width: 100%;
	height: 100%;
	padding: 5px 0;
}
.sidbarparagraph {
	font-family: 'myriadprocond';
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px;
}
.sidbarparagraph2 {
	font-family: 'myriadprocond';
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px; line-height:normal;
}

.sidebarbtmbar {
	border-bottom: 1px solid #c8c7c7;
	padding-bottom: 10px
}
.disclist {
	padding-left: 0 !important;
	overflow-y: auto;
	height: 160px;
	padding-top: 5px
}
.disclist li {
	list-style: disc !important;
}



.custheader{
	background-color:#dcd598;
	height:65px !important;
}
.custfooter{
	background-color: #00577d;
	height:30px !important;
}
.centerimg{
	margin:120px 60px 30px 30px;
	padding:120px 60px 30px 30px;
	height:40%;
	width:40%;
	
}
.custlogo{
padding-top:10px;
}
.centerImg{
position:relative;
top:10;
}
.leftalign{text-align:left;
padding-top:8px;
}
.nopadding{padding:0px;text-align:left;}
.notoppadding{margin:0px 0px 0px;}
.padding7px{
padding-top:7px;
padding-bottom:7px;}
.paddingright{padding-right:80px;}
.padding19px{
padding-top:7px;}
.paddingtop18{padding-top:18px;
}
.paddingzero{
padding-left:0px;
padding-bottom:0px;}
.paddingtop4{
padding-top:4px;
margin-right:60px;}
.bgimage{
background-color:white;
background:url(../image/bg.png);
background-attachment:fixed; 
border:1px solid black; 
font-size:18px; 
position:absolute;
width:100%;
height:auto;
}

.bgcenterimage{
background-color:white;
background:url(../image/boxbg.png);
border:1px solid white; 
font-size:18px; 
position:relative;
top:100px;
width:377px;
height:392px;
}
.bgcenterimage2{
background-color:white;
background:url(../image/boxbg.png);
border:1px solid white; 
font-size:18px; 
line-height:3em;
position:relative;
top:150px;
width:785px;
height:260px;
}
.margintop{
margin-top:4%;
}
.margintop1{
margin-top:20%;
}
.margintop2{
margin-top:3%;
}
.customlist{
background-color:#FFF;
width:785px;
border:1px solid #FFFFFF;
padding-top: 5px;
}

.font1{
font-family: 'Geometric706W01-Medium'; font-size:38.63px; color:white; letter-spacing:0.001em; margin: 0;
margin-bottom: 5px;}
.font2{
font-family: 'Geometric212BT HeavyCondensed'; margin: 0;
margin-bottom: 5px; 
font-size:19.31px; color:white; letter-spacing:0.001em;line-height:21px;font-weight:bold;}
.font3{
font-family: 'geometric_slabserif_712medium';margin: 0;
margin-bottom: 10px;
padding: 10px 25px;
 font-size:14px; color:white;letter-spacing:0.001em;line-height:18px;}
.font33{
font-family: 'geometric_slabserif_712_ligRg'; font-size:13px; color:#08262c;letter-spacing:0.001em;line-height:14px;text-align:left;}
.font4{
font-family: 'geometric_212_heavy_bt'; font-size:15px; color:#8b7b2f;letter-spacing:0.001em;line-height:19px;text-align:left;font-weight:bold;}

.font22{margin: 0;
margin-bottom: 15px;
font-family: 'geometric_212_heavy_bt'; font-size:15px; color:white;letter-spacing:0.001em;line-height:19px;font-weight:bold;
}
.font5{
font-family:'Geom Slab 712 W01 Light'; font-size:13px; color:#08262c;letter-spacing:0.001em;line-height:14px;}

.font44{
font-family: 'geometr212_bk_btbook';font-size:12px; color:#8b7b2f;letter-spacing:0.001em;line-height:14px;text-align:left;}
.contentbox{background-color:white;
width:450px;
height:150px; display:block;
}
.customlist .hs{
width:369px;
}
.marginbottom{margin-bottom:4%;
}
.logo{
float:left;
display:block;
height:47px;
margin:1px 0px 8px 25px;
width:225px;}

.contact{

height:48px;
margin:-19px 12px 0px -10px;
width:37px;}

.pinnit
{
width:22px;
height:17px;
background:url(../image/social-icons.png) no-repeat 0 0;
}
.tweet
{
width:24px;
height:17px;
background:url(../image/social-icons.png) no-repeat -23px 0;
}
.fb
{
width:24px;
height:17px;
background:url(../image/social-icons.png) no-repeat -48px 0;
}

.navbar-nav > li > a.si {
padding:0px;}
/* Commercial */
.leftbox{float:left; width:66%; height:180px; background-color:#666666}
.rightbox{float:right; height:180px; width:33%; background-color:#666666}

.subtableproperties{margin:0; padding:0; border:0; background-color:transparent}

.splashbannerholder{height:656px; width:960px;bottom:0; margin:0 auto; padding:0; display:block; background-color:#666;position:relative }

.splashbanner{ z-index:5; bottom:0; margin-bottom:0; position:absolute }

.splashbottom{bottom:0; height:491px; width:316px; position:absolute; z-index:500;   
background:url(../img/splash.png) no-repeat; margin-left:320px; margin-top:-481px;}

.spltextcontainer{ text-align:center; height:320px; width:95%; margin:0 auto;margin-top:125px;}
.splheader{font-family: 'tradegothicboldtwenty'; font-size:37px; color:#18536f; letter-spacing:0.02em;}
hr.splunderline{background:url(../img/splunderline.png) no-repeat; width:30px; height:6px; margin:0 auto}
.spldetails{color:#5e6871; 	font-family: 'myriadproboldcond'; font-size:16px; text-align:center; letter-spacing:0.08em; margin-top:20px; }
.splpara{color:#18536f; font-family: 'myriad_prosemibold_condensed'; font-size:15px; text-align:center; margin-top:30px; letter-spacing:0.05em; line-height:15px;}
.splpara span{font-size:19px; line-height:20px;}


