/*styles for building details page map box*/
#map {
   position:absolute; 
   top:0; 
   bottom:0; 
   width:100%; 
}
.leaflet-top .leaflet-control { margin-top: 260px; }


/*Font color for building name header in building details page*/
h1, h2, h3 {
    color: #00546E;
}

/*Font weight on building details page*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/*Building details contact input tag styles*/
input.contact_input {
    border: 1px solid #DCDDDE;
    color: #00567D;
    font-family: 'GeomSlab703W01-Medium';
    margin-bottom: 10px;
    padding: 7px 3px 2px;
    width: 234px;
}

/*Apply Online*/
.btn-apply-online {
	background:#00546e;
	color: #4296B4 !important;
	text-align: center;
	margin-left: 96px !important;
    padding: 3px 28px;	margin-left: 40px;
}
	
.btn-apply-online:hover {
	color: #EDE5C0 !important;
}

.call-tour-text {
	font-family: 'Geometric 415 W01 Lite';
	font-size: 19px;
}

/*Building detaails listing page table sorter arrows*/
table.tablesorter thead tr .header {
    background-image: url("/static/img/bg.gif");

}

table.tablesorter thead tr .headerSortUp {
    background-image: url("/static/img/asc.gif");
}

table.tablesorter thead tr .headerSortDown {
    background-image: url("/static/img/desc.gif");
}

/*To change the font of building deatails nav bar text*/
  nav.building_nav li a:hover, nav.building_nav li a.active{
    text-decoration: none;
    font-weight: normal;
    letter-spacing : 2px;
    font-family: 'Geometric 415 W01 Lite';
  }
  

/*To add space between sorting arrows & heading*/
.add-padding{
  padding-right: 5px;
}


.unit-features-area{
  margin-right: 22px;
}

/*Style for 'call for a tour' text on building listing page */
div.building-info-container p.building-contact-text{
  color: #00546E;
  font-size: 20px;
  width: 106%;
}

div.building-info-container p.building-contact-text a{
  color: #00546E;
  font-size: 17px;
}

div.building-info-container p.building-contact-text a:hover{
  color: #00546E;
  font-size: 17px;
}

/*Style for message to be displayed if no listing*/
.TFtable tr.building-listing-empty-msg{
  background: #f1f1f1;
}

.TFtable tr.building-listing-empty-msg:hover{
  background: #f1f1f1;
  cursor: default;
}

.TFtable tr.building-listing-empty-msg td p.empty-listing-msg{
  color: #00546E;
  line-height: 20px;
}

.TFtable tr.building-listing-empty-msg td p.empty-listing-msg span.zero-listing{
  color: #00546E;
  font-family: 'Geometric706W01-BoldCd';
  font-size: 20px;
}