  body{
    background: #f4efd5;
   
  }

#big-video-vid{
  visibility:hidden;
}

.background-video{
  height:600px;z-index:1;width:1250px;
}



#overlay-logo{
  position: absolute;
  top: 40%;
}

/*Changes in home page after adding search bar at bottom*/
/*styles for search form*/
.bottom-search-bar{
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 100%;
}

.flistformcntnr{
  width: 100%;
}

select.customselect2 {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.custbtn {
 vertical-align: top;
 margin-left: 10px;
 /*margin-bottom: 10px;*/
}

select.customselect {
 padding: 4px 20px 4px 0;
 margin-top: 2px;
 height: 28px;
 text-indent: 0.01px;
 border-style: solid none none;
 border-width: 1px 0 0;
}

select.customselect option {
    font-size: 12px;
}

.forviewbuild{
    margin-right: -5px;
    padding: 4px;
    width: auto;
    height: auto;
}

.fleft {
    float: left;
    margin-left: 20px;
}

.listsearchmenuholder{
  height: 90px;
}



.listsearchmenu{
  margin: 15px auto;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.lower-case-text{
  text-transform: lowercase;
  font-weight: normal;
}




/*Styles for search bar fields*/
 .selectpicker{
   background: url("/static/img/selectbox.png") no-repeat scroll right center, url("/static/img/brdrbtm.png") repeat-x scroll center bottom #e8edee;
    border-style: solid none none;
    border-width: 1px 0 0;
    font-family: 'Geometric 212 W01 Book';
    color: #08262C;
 }
 
 .btn-group.open .btn.dropdown-toggle {
     background: url("/static/img/selectbox.png") no-repeat scroll right center, url("/static/img/brdrbtm.png") repeat-x scroll center bottom #e8edee;
}
 
 
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active{
  background: url("/static/img/selectbox.png") no-repeat scroll right center, url("/static/img/brdrbtm.png") repeat-x scroll center bottom #e8edee;
  box-shadow: none;
}
 
 .dropdown-menu .open{
   background-color:#E8EDEE;
 }
 
 .listsearchmenuholder{
   background-color: #e8edee;
 }
 
 
.bootstrap-select.btn-group .dropdown-menu li {
    background-color: #E8EDEE;
 
}

.bootstrap-select.btn-group .dropdown-menu {
    background-color: #E8EDEE;
        border-radius: 0 0 0 0;
}
 
.btn-group > .btn:first-child {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  
.caret{
  display: none;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{
  background-color: #DEE0E0;
  background-image: none;
}

select.customselect{
 background: url("/static/img/selectbox.png") no-repeat scroll right center, url("/static/img/brdrbtm.png") repeat-x scroll center bottom #e8edee;
}

.dropdown-menu{
   box-shadow: none;
}

.btn{
      padding: 4px 20px 4px 0;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}


.dropdown-menu > li > a {
  border-bottom: 1px solid;
  border-color: #B3B3B3;
  margin-left: 10px;
  margin-right: 10px;
  color: #231f20;
  font-size: 16px;
  font-family: 'Geometric 415 W01 Lite';
  text-align: left;
  line-height: 30px;  
}

.dropdown-menu > li > a span.text{
  color: #231f20;
  font-size: 16px;
  font-family: 'Geometric 415 W01 Lite';
  text-align: left;
  line-height: 30px;  
  
}

.numeric-text{
  color: #231f20;
  font-size: 16px;
  font-family: 'Geometric 415 W01 Lite';
  text-align: left;
}


.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 13px;
}


.home-submit-button{
  font-size: 13px;
  color: #FFFFFF;
  font-family: 'Geometric 212 W01 Book';
}

a:hover, a:focus{
  text-decoration: none; 
}


/*Style for last li element in building info page*/
div#page_con_navigation ul li:last-child {
    border-right: 0px solid #00577D;
}



/*To display text in upper case in dropdown after selecting the option*/
.bootstrap-select.btn-group .btn .filter-option{
  text-transform: uppercase;
}


/*Style for home page video*/
.homepage-background-video{
  z-index: auto !important;
}
