/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */
.dk_container {
  background-color: #f5f5f5;
  font-family: 'GeomSlab703W01-Medium';
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 18px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .dk_container:focus {
    outline: 0; }
  .dk_container a {
    cursor: pointer;
    text-decoration: none; }

.dk_toggle {
  border: 1px solid #ccc;
  color: #333;
  padding: 7px 45px 7px 10px;
  text-shadow: #fff 1px 1px 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
  position: relative; }
  .dk_toggle:hover {
    border-color: #8c8c8c; }
  .dk_toggle:after {
    position: absolute;
    top: 45%;
    right: 10px;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4B4B4B; }

/* Applied when the dropdown is focused */
.dk_focus .dk_toggle {
  border-color: #40b5e2;
  box-shadow: 0 0 5px #40b5e2;
  -moz-box-shadow: 0 0 5px #40b5e2;
  -webkit-box-shadow: 0 0 5px #40b5e2; }

/* Applied whenever the dropdown is open */
.dk_open {
  box-shadow: 0 0 5px #00567D;
  -moz-box-shadow: 0 0 5px #00567D;
  -webkit-box-shadow: 0 0 5px #00567D;
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10; }
  .dk_open .dk_toggle {
    background-color: #ececec;
    border-color: #8c8c8c;
    color: #ccc;
    box-shadow: inset 0 -2px 5px #ccc;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0; }

/* The outer container of the options */
.dk_options {
  background: #fefefe;
  /* Removes transparent background on iOS5+ scroll */
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px; }
  .dk_options a {
    background-color: #fff;
    border-bottom: 1px solid #999;
    font-weight: bold;
    padding: 8px 10px; }
  .dk_options a:hover,
  .dk_options .dk_option_current a {
    background-color: #00567D;
    border-bottom-color: #00567D;
    color: #fff;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0; }
  .dk_options li:last-child a {
    border-bottom: none; }
  .dk_options .disabled {
    cursor: default; }
    .dk_options .disabled a {
      color: #aaa; }
    .dk_options .disabled:hover, .dk_options .disabled:hover a {
      cursor: default;
      background-color: #fff;
      border-bottom-color: #999;
      text-shadow: none; }

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  max-height: 250px;
  border: 1px solid #8c8c8e;
  border-bottom-width: 2px;
  border-bottom-color: #999;
  color: #333;
  margin-bottom: 0px;
  text-shadow: #fff 0 1px 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px; }

/******  End Theme ******/
/***** Critical to the continued enjoyment of working dropdowns ******/
.dk_container {
  display: none;
  float: left; }
  .dk_container a {
    outline: 0; }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1; }

.dk_open {
  position: relative; }
  .dk_open .dk_options {
    display: block; }
  .dk_open .dk_label {
    color: inherit; }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%; }
  .dk_options a, .dk_options a:link, .dk_options a:visited {
    display: block; }

.dk_options_inner {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch; }

/* Hides only dropkick <select> instances */
.dk_container select {
  position: absolute;
  top: -99999em;
  visibility: hidden; }

/*  nativeMobile override */ 
.dk_mobile {
  position: relative; }
  .dk_mobile select {
    display: block;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    visibility: visible;
    opacity: 0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none; }
/***** End Critical to the continued enjoyment of working dropdowns ******/
