﻿/****************RESET CSS**************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clear { clear:both}
a{text-decoration: none}
.row{margin:0 !important;}

.margintop{margin-top: 15px !important;}


header, nav, section, article, aside, footer {display:block}
body { background: #f4efd5;
	 color: #08262c;
	 font-style: normal;
	 font-weight: normal;
	 font-family:'Geometric 415 W01 Lite';
}
html, body, div, form, fieldset, input, textarea, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-bottom: 20px;
}

p { font-family:'Geometric 415 W01 Lite';}

h1,h2,h3 { color: #00546e;}

h1 { font-size: 40px;  font-family:'Geometric706W01-BoldCd'}
h1.rentplatform { margin-bottom:10px; color:#4a91a7;}

#container {
   display: table;
   height:100%;
   min-height:100%;
   margin: -5px auto 0;
   width: 100%;
   z-index: 99;
   margin: 0 auto;
   position: relative;
   padding-bottom: 25px;
   top:0;
   bottom:25px;
 }



.content { margin: -4px auto 0;
    max-width: 1250px;
    min-width: 1000px;
  }

a {
    text-decoration: none;
    color: #08262c;
    font-size: 14px;
}

.page_bg {
   height: 200%;
    left: -50%;
    position: fixed;
    top: -50%;
    width: 200%;
    z-index: -999;
}


.page_bg img {
    bottom: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -999;
}
.ful_bg { height: auto;
    left: 0;
    min-height: 100%;
    min-width: 1024px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -999;}



/********************************HEADER***********************/
header {
    display: block;
    width: 100%;
    height: 70px;
    position: relative;
    min-width: 100%;
    width: 100%;
    background: #DCD598;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    z-index: 1000;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.header_inner {margin: 0 auto;
    max-width: 1250px;
    min-width: 1000px;
    z-index: 9999;}

/**********************************FOOTER********************/
footer {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    border-top: 1px solid rgba(255,255,255,0.2);
}
.footer_line { height: 30px; background: #00577d; width: 100%}

.footer_nav {
    float: left;
    display: block;
    margin-left: 50px;
    height: 20px;
    background: #00577d;
}

.footer_nav ul{
    float: left;
    margin-bottom:0px;
}

.footer_line .social_bar{
  float:right; width:100px;
  margin-right: 50px;
  padding: 5px;
}

.footer_nav ul li {
    float: left;
    list-style: none;
    padding-right: 15px;
}
.footer_nav ul li a.legal {
    border-right: 1px solid #fff;
    padding-right: 15px;
    margin-left: 15px;
}
.footer_nav ul li a {
    float: left;
    color: #fff;
    font-family: arial;
    font-size: 11px;
    margin-top: 10px; line-height: 9px;
}

.footer_nav ul li a.home {
    background: url("../img/frooter_home_icon.png/");
    width: 16px;
    height: 11px;
    margin-top: 8px;
}

footer.footer-area{
  z-index: none !important;
}