{% extends "backend-layout.html" %}

{% block extra_header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/tablesortstyle.css')}}" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/admin_seo.css')}}" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

{% endblock %}

{% block content %}

	{% block nav %}
	<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
         <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/"></a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
  			{%- if g.user.is_anonymous() -%}          	
              <li><a href="/login/">Sign In</a></li>
  			{%- else -%}						
              <li><a href="#">Welcome {{ g.user }}</a></li>
              <li><a href="/logout/">Sign Out</a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>


	{% endblock %}
	{% block main_content %}
  {%- if not g.user.is_anonymous() -%}  
  <div class="row">
      <div class="span12" style="margin-top:70px;">
        <h3 id="admin-title">Admin Control Panel</h3>
        <ul class="nav nav-tabs">
          <li {% if request.endpoint == 'managers.managerindex' %}class="active"{% endif %}><a href="/admin/">Dashboard</a></li>
          
          <li {% if request.endpoint == 'managers.managerbuildings' %}class="active"{% endif %}><a href="{{url_for('managers.managerbuildings')}}">Buildings</a></li>
          <li {% if request.endpoint == 'managers.managerneighborhoods' %}class="active"{% endif %}><a href="/admin/neighborhoods/">Neighborhoods</a></li>
          
          <li {% if request.endpoint == 'managers.managerresidentials' %}class="active"{% endif %}><a href="{{ url_for('managers.managerresidentials') }}">Listings</a></li>
            {% if g.user.is_admin or g.user.is_super_user %}
                <li {% if request.endpoint == 'managers.managerusers' %}class="active"{% endif %}><a href="/admin/users/">Users</a></li>
            {% endif %}
            <li {% if request.endpoint == 'manager.photo_manager' %}class="activate"{% endif %}><a href="{{ url_for('photo_manager') }}"> Photos </a></li>
         </ul>
      </div>  
    </div>
    {%- endif -%}
	{% endblock %}
{% endblock %}

{% block js_scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.quicksearch.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',
    filename='js/jquery-ui.min.js') }}"></script>
  <script type="text/javascript">

  $(function(){
     $(".table").tablesorter(); 
  });
  </script>
{% endblock %}