<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{{ SITE_TITLE }}: {% block title -%}{%- endblock -%}</title>
		<link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/bff68dfd-238d-4c9d-a240-d9fb76cdc8f7.css"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
		{% block extra_header %}

		{% endblock %}
		<Style>
			input[type='file']{width:90px;}
			.pull-right-padding{
			  padding-right: 10px;
			}
		</Style>
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="{{url_for('static', filename='js/html5shiv.js')}}"></script>
		<![endif]-->

		<link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">

		{% block extraheader %}{% endblock %}
	</head>

	<body>
		<div class="container">
		{% block content %}

		{% endblock %}
		</div>
		{% block js_scripts %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		{% endblock %}
		{% block per_page_js %}
		{% endblock %}
	</body>
</html>