{% extends "admin_layout.html" %}
{% block title %}Login{% endblock %}
{% block main_content %}
<div class="container">
  <div class='row'>
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="well span6 offset3" style="margin-top:150px;">
      <h2>Sign In</h2>
      {% from "_formhelpers.html" import render_field %}
      <form method="post" action="/login/">
        {{ form.hidden_tag() }}        
        {{ render_field(form.login,class_="xlarge input-block-level",size="30") }}
        {{ render_field(form.password,class_="xlarge input-block-level",size="30") }}
      <p><input type="submit" value="Login" class="btn btn-large" /></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}